---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <div class="h-full grid grid-cols-9 grid-rows-7 gap-5 px-4">

        <!-- Income / Expense / Savings -->
         <section class="col-span-2 row-span-1 bg-secondary rounded p-3 flex flex-col justify-center items-center">
            <h2 class="font-bold text-lg">Total Income</h2>
            <p class="text-2xl">0</p>
         </section>
         <section class="col-span-2 row-span-1 bg-secondary rounded p-3 flex flex-col justify-center items-center">
            <h2 class="font-bold text-lg">Total Expense</h2>
            <p class="text-2xl">0</p>
         </section>
         <section class="col-span-2 row-span-1 bg-secondary rounded p-3 flex flex-col justify-center items-center">
            <h2 class="font-bold text-lg">Total Savings</h2>
            <p class="text-2xl">0</p>
         </section>

         <!-- Calendar -->
         <section class="col-span-3 row-span-3 bg-secondary rounded p-3 flex flex-col justify-center items-center">
            <h2 class="font-bold text-2xl">CALENDAR</h2>
         </section>

         <!-- Big Panel -->
         <section class="col-span-6 row-span-3 bg-secondary rounded p-3 flex flex-col justify-center items-center">
            <h2 class="font-bold text-2xl">BIG PANEL</h2>
         </section>

         <!-- Savings Control -->
         <section class="col-span-3 row-span-4 bg-secondary rounded p-3 flex flex-col justify-center items-center">
            <h2 class="font-bold text-2xl">SAVINGS</h2>
         </section>

         <!-- Datas -->
         <section class="col-span-3 row-span-3 bg-secondary rounded p-3 flex flex-col justify-center items-center">
            <h2 class="font-bold text-2xl">DATA 1</h2>
         </section>
         <section class="col-span-3 row-span-3 bg-secondary rounded p-3 flex flex-col justify-center items-center">
            <h2 class="font-bold text-2xl">DATA 1</h2>
         </section>
        
    </div>
</Layout>
