---
import NavItem from "@components/navItem.astro";
import Dashboard from "@icons/Dashboard.astro";
import Expense from "@icons/Expense.astro";
import Income from "@icons/Income.astro";
import LogOut from "@icons/LogOut.astro";
import Savings from "@icons/Savings.astro";

const links = [
	{ name: "Dashboard", href: "/dashboard" },
	{ name: "Income", href: "/income" },
	{ name: "Expense", href: "/expense" },
	{ name: "Savings", href: "/savings" },
];
---
<aside class="flex flex-col gap-4 flex-1 justify-between bg-primary rounded-lg">
    <section class="relative flex flex-col gap-1.5 flex-1 mx-4 my-2">
        <picture class="aspect-square rounded-full mx-3 border-8 border-dark">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F5a%2Ffd%2F51%2F5afd51a60ec89cec468fc8bcb847e920.jpg&f=1&nofb=1&ipt=6aea0351e077c353f9b0a5b9a6b04d6503de2e1721d41eb136b9e36aae1cf3ae" class="size-full object-cover object-center rounded-full" alt="">
        </picture>
        <h2 class="font-bold text-center">SALDO: <span class="text-xl">0</span></h2>
    </section>
    <nav class="flex flex-col flex-1 justify-center">
        <ul class="flex flex-col gap-2">
            <!-- {
                links.map(link => (
                    <NavItem href={link.href}>{link.name}</NavItem>
                ))
            } -->
            <NavItem href="/dashboard">
                <Dashboard/>
                Dashboard
            </NavItem>
            <NavItem href="/income">
                <Income/>
                Income
            </NavItem>
            <NavItem href="/expense">
                <Expense/>
                Expense
            </NavItem>
            <NavItem href="/savings">
                <Savings/>
                Savings
            </NavItem>
        </ul>
    </nav>

    <footer class="flex items-end justify-center flex-1 mx-4 mb-3">
        <button class="flex gap-2 font-bold cursor-pointer py-2 pr-2 hover:pr-7 transition-all duration-200" onclick="alert('Saliste')">
            <LogOut class:list={'text-dark'}/>
            Log Out
        </button>
    </footer>
</aside>