---
import NavItem from "@components/navItem.astro";
---

<nav class="flex flex-col flex-1 justify-center bg-[#1391a6] rounded-lg">
    <ul class="flex flex-col gap-4">
        <NavItem>Dashboard</NavItem>
        <NavItem>Income</NavItem>
        <NavItem>Expenses</NavItem>
        <NavItem>Savings</NavItem>
    </ul>
</nav>