<li class="relative group flex text-lg font-semibold ml-5">
    <a href="#" class="flex flex-1 py-2 px-4 z-10"><slot/></a>
    <div
        class="absolute top-0 left-full right-0 group-hover:left-0 transition-all duration-200 h-full
                rounded-l-2xl pointer-events-none bg-[#2e2f3c]">
    </div>
</li>

<!-- #1391a6 -->
<!-- #2e2f3c -->
<!-- #fe4069 -->