---
import NavBar from "@components/navBar.astro";
import "./src/styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>K4zura - Dashboard</title>
	</head>
	<body id="app" class="relative h-screen w-screen p-3 gap-3">
		<header class="[grid-area:header] px-4 py-1 flex justify-between">
			<h2 class="text-4xl font-extrabold">Hi! Jinwoo</h2>
			<div class="flex gap-8 pr-3">
				<div class="size-8 rotate-45 bg-white cursor-pointer"></div>
				<div class="size-8 rotate-45 bg-white cursor-pointer"></div>
				<div class="size-8 rotate-45 bg-white cursor-pointer"></div>
			</div>
		</header>
		
		<aside class="[grid-area:aside] flex flex-col overflow-y-auto">
			<NavBar/>
		</aside>

		<main class="[grid-area:main] overflow-y-auto">
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	#app {
		display: grid;
		grid-template-areas: 
			"aside header header"
			"aside main main";
			grid-template-columns: 210px 1fr;
			grid-template-rows: auto 1fr;
	}
</style>
<style is:global>
	html {
		font-family: "CircularStd", system-ui, sans-serif;
		background: #2e2f3c;
		color: #eeeffc;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Book.woff2") format("woff2");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Light.woff2") format("woff2");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Black.woff2") format("woff2");
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	body {
		--sb-track-color: #232e33;
		--sb-thumb-color: #6baf8d;
		--sb-size: 14px;
	}

	body::-webkit-scrollbar {
		width: var(--sb-size);
	}

	body::-webkit-scrollbar-track {
		background: var(--sb-track-color);
		border-radius: 3px;
	}

	body::-webkit-scrollbar-thumb {
		background: var(--sb-thumb-color);
		border-radius: 3px;
	}

	@supports not selector(::-webkit-scrollbar) {
		body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
		}
	}
</style>

<!-- link mockup -->
 <!-- https://excalidraw.com/#json=CaDORS_W2R50w9mIfrwHV,Fgnl7Wm5zwfq3f1JRqEM_g -->